# Rojo / Roblox build artifacts
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# Argon
/sourcemap.json

# Wally
/Packages
/ServerPackages
/DevPackages

# Lock files
/*.lock

# Misc
.DS_Store

# Moonwave documentation output
/build
/node_modules
/website/build
/website/.docusaurus
/website/node_modules
